@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
  .wrap7 {
    gap: 47px;
  }
  .wrap7 .second-section .column2 {
    gap: 41px;
  }
  .wrap7 .second-section .second {
    gap: 67px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .cont2wrapper .cont2-div .investing-made-easy {
    font-size: 38px;
  }
  .cont2wrapper .first-image {
    width: 475px;
    height: auto;
  }
  .header .search {
    padding-left: 0px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing {
    font-size: 20px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing-para {
    font-size: 14px;
  }
  .wrap7 {
    gap: 17px;
  }
  .wrap7 .first {
    padding-left: 56px;
  }
  .wrap7 .second-section .second {
    gap: 61px;
  }
  .wrap7 .second-section .column2 {
    gap: 37px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .cont2wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px;
  }
  .cont2wrapper .investing-made-easy {
    font-size: 20px;
  }
  .cont2wrapper .first-image {
    height: auto;
    width: 100%;
  }
  .cont2wrapper .cont2-div {
    padding-bottom: 73px;
  }
  .cont2wrapper .cont2-div .investing-made-easy {
    font-size: 26px;
  }
  .cont4-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont4-wrapper .about {
    padding-right: 349px;
  }
  .gradient-container .cont5-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing {
    font-size: 20px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing-para {
    font-size: 14px;
  }
  .gradient-container .cont5-wrap .second-image {
    width: 100%;
    height: auto;
    padding-left: 0px;
  }
  .wrap7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  .wrap7 .first {
    padding-left: 53px;
  }
  .wrap7 .second-section {
    gap: 10px;
  }
  .wrap7 .second-section .second {
    gap: 36px;
  }
  .wrap7 .second-section .column2 {
    gap: 13px;
  }
  .header {
    overflow: scroll;
  }
  .header .neo-funds {
    padding-left: 0px;
  }
  .header .search {
    padding-left: 0px;
  }
  .header .span1 {
    font-size: 8px;
    padding: 8px;
  }
  .header .span4 {
    font-size: 11px;
  }
  .cont3wrapper .container_wrapper {
    padding-bottom: 47px;
  }
  .cont3wrapper .logo-sec .logo .logo-head {
    font-size: 13px;
  }
  .wrap6 .second-sec .chat-img {
    right: 76px;
  }
  .container_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .cont2wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header {
    overflow: scroll;
  }
  .cont3wrapper .container_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont3wrapper .container_wrapper .para {
    width: 100%;
    padding-top: 15px;
  }
  .cont4-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont4-wrapper .about {
    padding-right: 164px;
  }
  .gradient-container .cont5-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gradient-container .cont5-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gradient-container .cont5-wrap .second-image {
    padding-left: 0px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing-para {
    font-size: 15px;
  }
  .wrap7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    padding-top: 26px;
  }
  .wrap7 .first {
    padding-bottom: 62px;
    padding-left: 20px;
  }
  .wrap7 .second-section {
    gap: 10px;
  }
  .wrap7 .second-section .second {
    gap: 45px;
  }
  .wrap7 .second-section .column2 {
    gap: 0px;
    white-space: normal;
  }
  .wrap7 .second-section .column2 .column2-img {
    padding-left: 19px;
  }
  .wrap7 .second-section .column2 .download {
    padding-left: 97px;
  }
  .wrap7 .second-section .column2 .call .no1,
  .wrap7 .second-section .column2 .call .no2 {
    padding-left: 30px;
  }
  .wrap7 .second-section .column2 .call .call-us {
    padding-left: 35px;
  }
  .wrap7 .second-section .column1 {
    white-space: normal;
  }
  .cont4-wrapper .about-funds {
    padding-top: 45px;
  }
  .header {
    overflow: scroll;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .header {
    overflow: scroll;
  }
  .header .search {
    display: none;
  }
  .first-image {
    display: none;
  }
  .container_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont4-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont4-wrapper .about {
    padding-right: 202px;
    padding-top: 20px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gradient-container .cont5-wrap .second-image {
    display: none;
  }
  .wrap7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap7 .first {
    padding-left: 0px;
  }
  .wrap7 .second-section .column2 {
    gap: 32px;
  }
}
/*# sourceMappingURL=indexmobile.css.map */