@media only screen and (min-width: 1400px) {
    .container {
        width: 1320px;

    }
}

@media only screen and (min-width: 1200px) and (max-width:1399px) {
    .container {
        width: 1140px;
    }

    .wrap7 {
        gap: 47px;

        .second-section {
            .column2 {
                gap: 41px;
            }

            .second {
                gap: 67px;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .container {
        width: 960px;
    }


    .cont2wrapper {
        .cont2-div {
            .investing-made-easy {
                font-size: 38px;
            }


        }

        .first-image {
            width: 475px;
            height: auto;
        }

    }

    .header {
        .search {
            padding-left: 0px;
        }
    }

    .gradient-container {
        .cont5-wrap {
            .first-div {
                .ask-flex {
                    .first-1 {
                        .investing {
                            font-size: 20px;
                        }

                        .investing-para {
                            font-size: 14px;
                        }

                    }


                }

            }

        }

    }

    .wrap7 {
        gap: 17px;

        .first {
            padding-left: 56px;
        }

        .second-section {
            .second {
                gap: 61px;
            }

            .column2 {
                gap: 37px;
            }
        }

    }

}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .container {
        width: 720px;
    }

    .cont2wrapper {

        flex-direction: column-reverse;
        padding: 0px;

        .investing-made-easy {
            font-size: 20px;
        }

        .first-image {
            height: auto;
            width: 100%;
        }

    }

    .cont2wrapper {
        .cont2-div {
            // padding: 0px;
            padding-bottom: 73px;

            .investing-made-easy {
                font-size: 26px;
            }

        }

    }

    .cont4-wrapper {
        flex-direction: column;

        .about {
            padding-right: 349px
        }

    }

    .gradient-container {

        .cont5-wrap {
            flex-direction: column-reverse;

            .first-div {
                .ask-flex {
                    .first-1 {
                        .investing {
                            font-size: 20px;
                        }

                        .investing-para {
                            font-size: 14px;
                        }


                    }

                }


            }

            .second-image {
                width: 100%;
                height: auto;
                padding-left: 0px;

            }

        }
    }

    .wrap7 {
        flex-direction: column;
        gap: 0px;

        .first {
            padding-left: 53px;
        }

        .second-section {
            gap: 10px;

            .second {
                gap: 36px;

            }

            .column2 {
                gap: 13px;
            }
        }

    }

    .header {
        overflow: scroll;

        .neo-funds {
            padding-left: 0px;
        }

        .search {
            padding-left: 0px;
        }



        .span1 {
            font-size: 8px;
            padding: 8px;
        }

        .span4 {
            font-size: 11px;

        }
    }

    .cont3wrapper {
        .container_wrapper{
            padding-bottom: 47px;
        }
        .logo-sec {
            .logo {
                .logo-head {
                    font-size: 13px;

                }

            }

        }

    }

    .wrap6 {
        .second-sec {
            .chat-img {
                right: 76px;
            }

        }

    }

    .container_wrapper {
        flex-direction: column;
    }




}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .container {
        width: 540px;
    }

    .cont2wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .header {
        overflow: scroll;
    }

    .cont3wrapper {
        .container_wrapper {
            display: flex;
            flex-direction: column;

            .para {
                width: 100%;
                padding-top: 15px;
            }
        }


    }

    .cont4-wrapper {
        display: flex;
        flex-direction: column;

        .about {
            padding-right: 164px;
        }
    }

    .gradient-container {
        .cont5-wrap {
            display: flex;
            flex-direction: column-reverse;

        }

    }

    .gradient-container {
        .cont5-wrap {
            display: flex;
            flex-direction: column-reverse;

            .second-image {
                padding-left: 0px;
            }

            .first-div {
                .ask-flex {
                    .first-1 {
                        .investing-para {
                            font-size: 15px;
                        }

                    }

                }

            }

        }

    }

    .wrap7 {
        flex-direction: column;
        gap: 24px;
        padding-top: 26px;

        .first {
            padding-bottom: 62px;
            padding-left: 20px;
        }

        .second-section {
            .second {
                gap: 45px;
            }

            gap: 10px;

            .column2 {
                gap: 0px;
                white-space: normal;

                .column2-img {
                    padding-left: 19px;
                }

                .download {
                    padding-left: 97px;
                }

                .call {

                    .no1,
                    .no2 {
                        padding-left: 30px;
                    }

                    .call-us {
                        padding-left: 35px;
                    }
                }
            }

            .column1 {
                white-space: normal;
            }
        }
    }

    .cont4-wrapper {
        .about-funds {
            padding-top: 45px;
        }

    }

    .header {
        overflow: scroll;
    }



}

@media only screen and (max-width: 576px) {

    .container {
        width: 100%;

    }

    .header {
        overflow: scroll;

        .search {
            display: none;
        }
    }

    .first-image {
        display: none;
    }

    .container_wrapper {
        flex-direction: column;
    }

    .cont4-wrapper {
        display: flex;
        flex-direction: column;

        .about {
            padding-right: 202px;
            padding-top: 20px;
        }
    }


    .gradient-container {
        .cont5-wrap {
            .first-div {
                .ask-flex {
                    display: flex;
                    flex-direction: column;
                }

            }

            .second-image {
                display: none;
            }

        }

    }

    .wrap7 {
        display: flex;
        flex-direction: column;

        .first {
            padding-left: 0px;
        }

        .second-section {
            .column2 {
                gap: 32px;
            }
        }
    }
}