* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container-fluid {
  width: 100vw;
  background-color: #e4faf4;
}

.container {
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-4 {
  color: #ffffff;
  font-family: Avenir-Heavy;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  background-color: #00d09c;
  padding-top: 85px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  border: none;
  padding: 13px;
  padding-right: 25px;
  width: 173px;
  height: 60px;
}

.btn-4:hover {
  background-color: #009b74;
  cursor: pointer;
}

.line1 {
  color: #222222;
  font-family: Avenir-Heavy;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding: 5px;
  text-decoration: none;
}

.line2 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
  text-decoration: none;
}

.line3 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
  text-decoration: none;
}

.line6 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
  text-decoration: none;
}

@font-face {
  font-family: Avenir-Roman;
  src: url(./workshop-practice-1/assets/font/avenir_ff/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: FuturaBT-Book;
  src: url(./workshop-practice-1/assets/font/futura_book_bt.ttf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(./workshop-practice-1/assets/font/Avenir_Heavy.ttf);
}

@font-face {
  font-family: Avenir-Medium;
  src: url(./workshop-practice-1/assets/font/Avenir_Medium.ttf);
}

@font-face {
  font-family: FuturaBT-Books;
  src: url("./workshop-practice-1/assets/font/Futura XBlk BT.ttf");
}

@font-face {
  font-family: Futura-Medium;
  src: url(./workshop-practice-1/assets/font/Futura_Medium.otf);
}

@font-face {
  font-family: Avenir;
  src: url(./workshop-practice-1/assets/font/AvenirLTStd-Book.otf);
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .list {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .list .phone-img {
  text-align: center;
  width: 13px;
}

.wrapper .list .download {
  border-right: 1px solid #dadce0;
  font-family: Avenir-Medium;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

.wrapper .list .download a {
  text-decoration: none;
  color: #222222;
}

.wrapper .list .blog {
  border-right: 1px solid #dadce0;
  font-family: Avenir-Medium;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
  padding: 10px;
}

.wrapper .list .blog a {
  text-decoration: none;
  color: #222222;
}

.wrapper .list .language {
  font-family: Avenir;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
  padding: 10px;
}

.wrapper .list .language a {
  text-decoration: none;
  color: #222222;
}

.wrapper .list .english {
  font-family: Avenir-Medium;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
  padding: 10px;
}

.wrapper .list .english a {
  text-decoration: none;
  color: #222222;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .neo-funds {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 25.92px;
  line-height: 34px;
  text-align: center;
}

.header .search {
  border-radius: 6px;
  padding-left: 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search .search-bar {
  padding: 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f5f5;
  gap: 4px;
  border-radius: 6px;
  padding: 10px;
}

.header .search .search-bar .input {
  background-color: #f5f5f5;
  border-radius: 6px;
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  text-align: left;
  border: none;
}

.header .list_2 {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .list_2 .span1 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  padding: 10px;
}

.header .list_2 .span1 a {
  text-decoration: none;
  color: #222222;
}

.header .list_2 .span4 {
  color: #222222;
  font-family: Avenir-Heavy;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  font-weight: bold;
}

.cont2wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  gap: 20px;
}

.cont2wrapper .cont2-div {
  padding: 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont2wrapper .cont2-div .investing-made-easy {
  color: #222222;
  font-family: FuturaBT-Book;
  font-size: 40px;
  line-height: 47.95px;
  text-align: left;
  padding-top: 48px;
  font-weight: lighter;
}

.cont2wrapper .cont2-div .investing-made-easy .easy {
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.cont2wrapper .cont2-div .investing-made-easy .easy::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 79px;
  height: 15px;
  z-index: -1;
  background-color: paleturquoise;
}

.cont2wrapper .cont2-div .indias-fatest {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  width: 455px;
  padding-top: 30px;
  text-align: justify;
  padding-bottom: 55px;
  padding-right: 56px;
}

.cont2wrapper .cont2-div .btn {
  padding: 15px;
  width: 208px;
  height: 60px;
}

@font-face {
  font-family: 'Futura_font';
  src: url("./assets/font/Futura XBlk BT.ttf");
}

.cont3wrapper {
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
}

.cont3wrapper .container_wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.cont3wrapper .container_wrapper .para {
  width: 50%;
}

.cont3wrapper .container_wrapper .para .cont3-head {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
  padding: 15px 0px;
  padding-left: 25px 0px;
  padding-top: 38px;
}

.cont3wrapper .container_wrapper .para .cont3-para {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  width: 504px;
  text-align: left;
  padding: 10px 0px;
  padding-left: 25px 0px;
  padding-bottom: 30px;
}

.cont3wrapper .logo-sec {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.cont3wrapper .logo-sec .logo {
  padding: 5px;
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
}

.cont3wrapper .logo-sec .logo .logo-head {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont3wrapper .logo-sec .logo .logo1 {
  padding: 10px;
}

.cont4-wrapper {
  padding-top: 117px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 117px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cont4-wrapper .about-funds {
  color: #222222;
  font-family: Avenir-Medium;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-bottom: 10px;
}

.cont4-wrapper .learn-funds {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  font-weight: lighter;
  padding-bottom: 15px;
}

.cont4-wrapper .image-1 {
  border-radius: 0 6px;
}

.cont4-wrapper .about-head {
  color: #222222;
  font-family: Avenir-Roman;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 10px;
  font-weight: lighter;
}

.cont4-wrapper .inline-1 {
  padding-bottom: 45px;
}

.cont4-wrapper .button-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont4-wrapper .button-2 .watch-vedio {
  color: #00d09c;
  font-family: Avenir;
  font-size: 19px;
  line-height: 28px;
  text-align: left;
  padding: 20px;
}

.gradient-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4faf4), to(#ffffff));
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
}

.gradient-container .cont5-wrap {
  gap: 15px;
}

.gradient-container .cont5-wrap .first-div {
  padding-top: 136px;
  padding-left: 20px 0px;
}

.gradient-container .cont5-wrap .first-div .ask-expert {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  padding: 10px 0px;
}

.gradient-container .cont5-wrap .first-div .ask-para {
  color: #222222;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 10px 0px;
  font-weight: lighter;
}

.gradient-container .cont5-wrap .first-div .ask-flex {
  padding-top: 25px;
  gap: 22px;
}

.gradient-container .cont5-wrap .first-div .ask-flex .first-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
  padding-top: 55px;
  padding-bottom: 10px;
  font-weight: lighter;
}

.gradient-container .cont5-wrap .first-div .ask-flex .first-1 .image-cash {
  padding: 9px;
  background-color: #E8F9F5;
  border-radius: 4px;
  width: 62px;
  height: 62px;
}

.gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing-para {
  color: #222222;
  font-family: Avenir;
  font-size: 16px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 70px;
}

.gradient-container .cont5-wrap .second-image {
  padding-top: 85px;
  padding-left: 23px;
  width: 555px;
  height: 833px;
}

.wrap6 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap6 .first-part {
  padding-top: 50px;
}

.wrap6 .first-part .manage-investment {
  color: #222222;
  font-family: FuturaBT-Book;
  font-size: 30px;
  line-height: 35.96px;
  text-align: center;
  padding-top: 150px;
}

.wrap6 .first-part .manage-para {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  width: 457px;
  text-align: center;
  padding-left: 89px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrap6 .first-part .download-app {
  color: #222222;
  font-family: FuturaBT-Book;
  font-size: 24px;
  line-height: 28.77px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

.wrap6 .first-part .image-span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap6 .first-part .image-span .image-app {
  padding: 10px;
  padding-bottom: 136px;
}

.wrap6 .second-sec .chat-img {
  position: fixed;
  bottom: 75px;
  right: 120px;
}

.shadow {
  -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
}

.wrap7 {
  gap: 125px;
  padding-top: 109px;
}

.wrap7 .first {
  padding-left: 189px;
}

.wrap7 .first .neo {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 30px;
  letter-spacing: 4.5px;
  line-height: 39px;
  text-align: left;
  padding: 10px;
}

.wrap7 .second-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}

.wrap7 .second-section .second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 122px;
}

.wrap7 .second-section .column1 {
  white-space: pre;
}

.wrap7 .second-section .column1 a {
  display: inline-block;
}

.wrap7 .second-section .column2 {
  white-space: pre;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 97px;
}

.wrap7 .second-section .column2 .colum2-img {
  white-space: nowrap;
}

.wrap7 .second-section .column2 a {
  display: inline-block;
}

.wrap7 .second-section .column2 .download {
  padding-left: 51px;
}

.wrap7 .second-section .column2 .download .app {
  padding: 5px;
}

footer {
  border-top: 1px solid #dadce0;
}

footer .footer_wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
}

footer .footer_wrapper .copyright {
  color: #222222;
  font-family: Avenir;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.699999988079071;
  text-align: left;
}

footer .footer_wrapper .social-medias {
  padding-right: 25px;
}

footer .footer_wrapper .social-medias .social {
  padding: 10px;
}
/*# sourceMappingURL=index.css.map */